/*main para todas las paginas menos para productos*/
main{
    height: 100vh;
    width: 100%;
    background-image: url(../imagen/running-track-1201014_960_720.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}